.navbar .btn-danger {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 25px;
    width: 90px;
    border-radius: 40px;
    background: #C21010;

}

.navbar .btn-outline-danger {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #C21010;
    letter-spacing: 1px;
    line-height: 25px;
    width: 90px;
    border: 2px solid #C21010;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.navbar .btn-danger:hover {
    color: #C21010;
    background: #fff;
    border: 2px solid #C21010;
}

.navbar .btn-outline-danger:hover {
    color: #fff;
    background: #C21010;
    border: 2px solid #C21010;
}


#page1 p {
    font-family: 'Poppins', sans-serif;
   
}  
#page1 h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
}

#page1 .btn-danger {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    padding-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    width: 125px;
    border-radius: 40px;
    background: #C21010;

}

#page1 .btn-outline-danger {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #C21010;
    letter-spacing: 1px;
    line-height: 25px;
    width: auto;
    border: 2px solid #C21010;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

#page1 .btn-outline-danger:hover {
    color: #fff;
    background: #C21010;
    border: 2px solid #C21010;
}

#page1 .btn-danger:hover {
    color: #C21010;
    background: #fff;
    border: 2px solid #C21010;
}

#page1 a{
    
    color: #C21010;
}

#page3 .container{
    position: relative;
    width: 80%;
}

#page3 .container img{
    width: 100%;
    height: auto;
}

#page3 .container .btn {
    position: absolute;
    top: 65%;
    left: 80%;
    transform: translate(-55%, -20%);
    -ms-transform: translate(-100%, -100%);
    font-family: 'Poppins', sans-serif;
        font-size: 13px;
        color: #fff;
        letter-spacing: 1px;
        line-height: 40px;
        width: 125px;
        border-radius: 40px;
        background: #C21010;
}


footer{
    background-color: #C21010;
}

footer a{
    color: #fff;
}

.login_page{
    font-family: 'Poppins', sans-serif;
}

.login_page .btn-danger {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    padding-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 2.5;
    width: 100%;
    border-radius: 40px;
    background: #C21010;
}
.login_page .btn-danger:hover {
    color: #C21010;
    background: #fff;
    border: 2px solid #C21010;
}

.input_form h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    color: #C21010;
}

